/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body{
    font-size: 100%;
    background-color: black;
    color: silver;
    height: 100%;
}


/*Terminal*/
.area-terminal{
    width:100%;
    height: 75%;
    justify-items: center;
}
    /*Cabeçalho*/
    .tela-terminal{
        height: 720px;
        width: 100%;
        background-color: rgb(15, 14, 14);
        border-radius: 25px;
        text-shadow: 0 0 3px #00FF41,0 0 5px #00FF41,0 0 5px #00FF41;
        color: #00FF41;
        padding-top: 20px;
        border: 1px inset chartreuse;
    }
        .tela-terminal button{
            background-color: rgb(15, 14, 14);
            border: none;
            text-shadow: 0 0 3px #00FF41,0 0 5px #00FF41,0 0 5px #00FF41;
            color: #00FF41;
            font-size: 22px;
        }

    /*Conteudo Tela*/
    #conteudo-tela{
        align-items: center;
        height: 600px;
    }

    /*Imagem*/
    #imagem-do-painel{
        object-fit: cover;
        height: 500px;
        width: 500px;
        padding: 10px;
        margin: 10px;
        border-radius: 30px;
    }

    /*Informações*/
    #conteudo-tela section {
        width: 790px;
    }
    #conteudo-tela section p {
        font-size: 18px;
    }


/*Navbar*/
nav{
    border-radius: 25px;
    border: 1px inset chartreuse; 
    margin: 3px;
}
nav ul{
    width: 100%;
}


/*Main*/
main {
    background-color: black;
    margin-top: 10px;
}
    /*Herois Ativos*/
    #herois_ativos{
        overflow:auto;
    }
    /*Personagens*/
    .personagem{
        border-radius: 20px;
    }
        /*Personagem*/
        .personagem div {
            text-align: center;
        }
        .personagem:hover{
            border: 0.5px solid green;
            cursor: pointer;
            background-color: rgb(15, 14, 14);
            color: green;
            filter: grayscale(0);
        }
            /*Imagem*/
            .personagem img{
                border-radius: 50%;
                height: 100px;
                width: 100px;
                margin: 1px;
                box-shadow: 1px 3px rgb(0, 0, 0);
                filter: grayscale(1);
            }
            .personagem:hover img{
                filter:grayscale(0);
                transition-delay: 100ms;
            }
            .personagem img:hover{
                cursor: pointer;
                filter: grayscale(0);
                transition-delay: 100ms;
            }
            /*Texto*/
            .personagem text{
                display: block;
                width: 200px;
            }
            .personagem p{
                display: none;
            }


/*Rodapé*/
footer{
    text-align: center;
}
    /*Texto*/
        footer p{
            display: inline;
            text-shadow: 0 0 3px #00FF41,0 0 5px #00FF41,0 0 5px #00FF41;
            color: #00FF41;
        }


/*Imprimir*/
@media print {
    body * {
      visibility: hidden;
    }

    
    /*Tela*/
        #conteudo-tela, #conteudo-tela * {
        visibility: visible;
        }
        #conteudo-tela{
            width: 100vw;
            height: 90vh;
            position: absolute;
            left: 0;
            top: 0;
            -webkit-print-color-adjust: exact;
            background-color: black !important;
        }


    /*Rodapé*/
        .footer, .footer P{
            visibility: visible;
        }
        .footer{
            position: absolute;
            bottom: 0;
            height: 10vh;
            width: 100vw;
            text-align: center;
        }
        .footer p{
            display: inline;
            text-align: center;
        }
}
